body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

}

main {
flex: 1 0 auto;
padding: 2em;
}

div.buttonWrapper {
    margin: 1em;

}

div.button {
    border: 3px solid black ;
    border-radius: 5px;
    margin: 2.5%;
    width: 150px;
    height: 80px;
    text-align: center;
    display:flex; 
    justify-content: center;
    align-items: center;
    
}


div.button:hover {
background-color: silver;
color: black;

}

.headshot {

    width: 60%;
    height: 90%;
}

.profileWrapper{
 display:flex;
 flex-direction: row-reverse;

}

.icon{

    width:100px;
    height:100px;

}